<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>

  <body>
    <h1>Movies</h1>

  <div id="movie-container">
    <table>
      <thead>
        <tr>
          <th width="20">No</th>
          <th>Title</th>
          <th width="100">Rating</th>
          <th width="150">Genre</th>
          <th width="150">Studio</th>
        </tr>
      </thead>

      <tbody>
          <% count = 0 %>
          <% @movies.each do |info|%>
            <tr>
              <td><%= count %></td>
              <td><a href="/movies/<%= info["movie_id"]%>"><%= info["title"]%></a></td>
              <td class='rating'><%= info["rating"] %></td>
              <td><%= info["genre"] %></td>
              <td><%= info["studio"] %> <%= info["year"] %></td>
            </tr>
            <% count += 1 %>
          <%end%>
      </tbody>
    </table>
  </div>

    </form>
  </body>
</html>
